<%-include("partial/header.ejs")%>
<img src="style/images/Rainy.jpg" id="myVideo">
  <div class="container" id="Blog_Start">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 text-center">
        <h1>START BLOGGING</h1>
        <a href="/blogging"><button class="btn btn-primary rounded-pill px-3" type="button">Let's Do It</button></a>
      </div>
    </div>
  </div>
    <%-include("partial/footer.ejs")%>