<%-include("partial/header.ejs")%>
    <dev class="bg-transparent mt-3" id="text">
    <h1>
        <%= Title %>
    </h1>
<span><%= Body %></span>
    </dev> 
    <img src="style/images/Rainy.jpg" id="myVideo">
    <%-include("partial/footer.ejs")%>